<% provide(:title, "Log in") %>
<% if @users.empty? %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <h1>Welcome!</h1>
    <br />
    <%= link_to "Claim site!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
<% else %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<% end %>