<div class='row' id="entry-<%= entry.id %>">
  <div class='col-sm-12 single-entry'>
    <%= link_to (image_tag entry.main_image, class: 'cover'), entry %>
    <h1 class="title"><%= link_to entry.title, entry, class:'entry-link' %></h1>
    <h2 class="timestamp">Posted <%= time_ago_in_words(entry.created_at) %> ago.</h2>
    <% if @logged_in %>
      <p class='edit'><%= link_to 'Edit', edit_entry_path(:id => entry.id) %></p>
    <% end %>
  </div>
</div>