<% provide(:title, 'Blog') %>
<h1>Blog</h1>
<% if @logged_in %>
  <h3><%= link_to 'New Entry', new_entry_path, class: 'project-edit' %></h3>
<% end %>

<br />

<div class="container-fluid">
  <%= render @entries %>
</div>

<%= will_paginate %>