<% provide(:title, "New Entry") %>
<h1>New Entry</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@entry, url: post_path) do |f| %>

      <%= f.label :title %> <span style='color:red;'>*</span>
      <%= f.text_field :title, class: 'form-control', :placeholder => "what should we call this?" %>

      <%= f.label :main_image %> <span style='color:red;'>*</span>
      <%= f.text_field :main_image, class: 'form-control', :placeholder => "main image url" %>
      
      <hr />
      
      <%= f.label :blurb %>
      <%= f.text_area :blurb, class: 'form-control', :placeholder => "entry overview" %>
      
      <hr />
      
      <%= f.label :photo_one, 'Image (1)' %>
      <%= f.text_field :photo_one, class: 'form-control', :placeholder => "image url" %>
      
      <%= f.label :para_one, 'First Paragraph' %>
      <%= f.text_area :para_one, class: 'form-control', :placeholder => "a bit about image one" %>
      
      <hr />
      
      <%= f.label :photo_two, 'Image (2)' %>
      <%= f.text_field :photo_two, class: 'form-control' %>
      
      <%= f.label :para_two, 'Second Paragraph' %>
      <%= f.text_area :para_two, class: 'form-control' %>
      
      <hr />
      
      <%= f.label :photo_three, 'Image (3)' %>
      <%= f.text_field :photo_three, class: 'form-control' %>
      
      <%= f.label :para_three, 'Third Paragraph' %>
      <%= f.text_area :para_three, class: 'form-control' %>
      
      <hr />
      
      <%= f.label :photo_four, 'Image (4)' %>
      <%= f.text_field :photo_four, class: 'form-control' %>
      
      <%= f.label :para_four, 'Fourth Paragraph' %>
      <%= f.text_area :para_four, class: 'form-control' %>
      
      <hr />
      <span style='color:red;'>*</span> required
      <br />
      <br />
      
      <%= f.submit "Post", class: "btn btn-primary" %>
      <br>
    <% end %>
  </div>
</div>