<h1><%= @entry.title %></h1>
<% if @logged_in %>
  <h2> <%=link_to 'Edit entry', edit_entry_path %></h2>
<% end %>
<h2><%= image_tag @entry.main_image, class: 'cover' %></h2>

<% if !@entry.blurb.blank? %>
    <h3><%= @entry.blurb %></h3>
<% end %>

<hr />

<% if !@entry.photo_one.blank? %>
    <h2><%= image_tag @entry.photo_one, class: 'cover'  %></h2>
<% end %>

<% if !@entry.para_one.blank? %>
    <h2><%= @entry.para_one %></h2>
    <hr />
<% end %>

<% if !@entry.photo_two.blank? %>
    <h2><%= image_tag @entry.photo_two, class: 'cover'  %></h2>
<% end %>

<% if !@entry.para_two.blank? %>
    <h2><%= @entry.para_two %></h2>
    <hr />
<% end %>

<% if !@entry.photo_three.blank? %>
    <h2><%= image_tag @entry.photo_three, class: 'cover'  %></h2>
<% end %>

<% if !@entry.para_three.blank? %>
    <h2><%= @entry.para_three %></h2>
    <hr />
<% end %>

<% if !@entry.photo_four.blank? %>
    <h2><%= image_tag @entry.photo_four, class: 'cover'  %></h2>
<% end %>

<% if !@entry.para_four.blank? %>
    <h2><%= @entry.para_four %></h2>
    <hr />
<% end %>
