<div id="project-<%= project.id %>">
  <div class='single-project'>
    <%= link_to (image_tag project.main_image, class: 'project-hero'), project %>
    <p class='project-title'><%= link_to project.title, project %></p>
    <% if @logged_in %>
      <p class='project-edit'><%= link_to 'Edit', edit_project_path(:id => project.id) %></p>
    <% end %>
  </div>
</div>