<% provide(:title, "Edit Project") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to '< Back', portfolio_path %>
    <h1>Edit Project</h1>
    <h2>- <%= @project.title %> -</h2>
    <%= form_for(@project) do |f| %>

      <%= f.label :title %> <span style='color:red;'>*</span>
      <%= f.text_field :title, class: 'form-control', :placeholder => "what should we call this?" %>

      <%= f.label :main_image %> <span style='color:red;'>*</span>
      <%= f.text_field :main_image, class: 'form-control', :placeholder => "main image url" %>
      
      <hr />
      
      <%= f.label :blurb %>
      <%= f.text_area :blurb, class: 'form-control', :placeholder => "project overview" %>
      
      <hr />
      
      <%= f.label :image_one, 'Image (1)' %>
      <%= f.text_field :image_one, class: 'form-control', :placeholder => "image url" %>
      
      <%= f.label :desc_one, 'Description' %>
      <%= f.text_area :desc_one, class: 'form-control', :placeholder => "a short description" %>
      
      <hr />
      
      <%= f.label :image_two, 'Image (2)' %>
      <%= f.text_field :image_two, class: 'form-control' %>
      
      <%= f.label :desc_two, 'Description' %>
      <%= f.text_area :desc_two, class: 'form-control' %>
      
      <hr />
      
      <%= f.label :image_three, 'Image (3)' %>
      <%= f.text_field :image_three, class: 'form-control' %>
      
      <%= f.label :desc_three, 'Description' %>
      <%= f.text_area :desc_three, class: 'form-control' %>
      
      <hr />
      
      <span style='color:red;'>*</span> required
      
      <br />
      <br />
      
      <%= f.submit "Post", class: "btn btn-primary" %>
      <br>
    <% end %>
  </div>
</div>