<% provide(:title, 'Portfolio') %>
<h1>Portfolio</h1>
<% if @logged_in %>
  <h3><%= link_to 'New Project', new_project_path, class: 'project-edit' %></h3>
<% end %>

<br />

<div>
  <%= render @projects %>
</div>

<br class='clearboth'>

<%= will_paginate %>