<h1><%= @project.title %></h1>
<% if @logged_in %>
  <h2> <%=link_to 'Edit entry', edit_project_path %></h2>
<% end %>
<div class='cover-holder'><%= image_tag @project.main_image, class: 'cover-image' %></div>

<% if !@project.blurb.blank? %>
    <h3><%= @project.blurb %></h3>
<% end %>

<hr />

<% if !@project.image_one.blank? %>
    <h2><%= image_tag @project.image_one, class: 'show-project-image' %></h2>
<% end %>

<% if !@project.desc_one.blank? %>
    <h2><%= @project.desc_one %></h2>
    <hr />
<% end %>

<% if !@project.image_two.blank? %>
    <h2><%= image_tag @project.image_two, class: 'show-project-image' %></h2>
<% end %>

<% if !@project.desc_two.blank? %>
    <h2><%= @project.desc_two %></h2>
    <hr />
<% end %>

<% if !@project.image_three.blank? %>
    <h2><%= image_tag @project.image_three, class: 'show-project-image' %></h2>
<% end %>

<% if !@project.desc_three.blank? %>
    <h2><%= @project.desc_three %></h2>
    <hr />
<% end %>
