@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* blog */

.single-entry {
  height: 25vh;
  text-align: center;
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.cover {
  max-height: 100%;
}

.entry-link {
  color: white;
  &:hover {
    color: rgba(255,255,255,.8);
    text-decoration: none;
  }
}

.title {
  margin-top: -10vh;
  text-shadow: 0 0 4px rgba(0,0,0,.7);
}

.timestamp {
  color: white;
  text-shadow: 0 0 1px black;
}

.edit {
  margin-top: -2vh;
  margin-bottom: 2vh;
  text-shadow: 0 0 1px black;
}

/* portfolio */

.single-project {
  float: left;
  margin: 25px;
  width: 250px;
  min-height: 250px;
  border: 1px solid rgb(240,240,240);
  border-radius: 5px;
  text-align: center;
  padding: 25px;
}

.clearboth {
  clear: both;
}

.project-hero {
  width: 200px;
}

.project-title {
  margin-top: 20px;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}

.project-title a {
  color: rgb(50,50,50);
  &:hover {
    color: rgb(80,80,80);
    text-decoration: none;
  }
}

.project-edit {
  margin-top: 5px;
  font-size: 15px;
  &:hover {
    text-decoration: none;
  }
}

.cover-holder {
  width: 100%;
  max-height: 25vh;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 2px solid rgb(240, 240, 240);
}

.cover-image {
  position: relative;
  width: 100%;
  top: -300px;
}

.show-project-image {
  max-width: 50%;
  max-height: 50%;
  
}