<footer class="footer">
  <small>
    Copyright 2016 Jacob Hardbower
  </small>
  <nav>
    <ul>
      <li><%= link_to "Entries",   entries_path %></li>
      <li><%= link_to "Projects", projects_path %></li>
    </ul>
  </nav>
</footer>