<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Monolace", "http://www.monolace.hardbower.com", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Projects",    projects_path %></li>
        <li><%= link_to "Entries",    entries_path %></li>
        <% if logged_in? %>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Content <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Create Entry", write_path %></li>
              <li><%= link_to "Create Project", create_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Edit Entries", entries_path %></li>
              <li><%= link_to "Edit Projects", projects_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", admin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>